    {% extends 'core/base.html' %}
    {% block title %} Sign in {% endblock %}
    {% block content %}
    <div class="row">
        <div class="col-md-5 mx-auto social-container">
            <button class="btn btn-danger">
                <a href="#" style="color: white">Login with Instagram</a>
            </button>
            <button class="btn btn-primary">
                <a href="{% url 'social:begin' 'facebook' %}" style="color: white">Login with Facebook
                </a>
            </button>
            <button class="btn btn-info">
                <a href="#" style="color: white">Login with LinkedIn</a>
            </button>
        </div>
    </div>
    </div>
    {% endblock %}